.table table th{background:#f5f5f5}.table table th,.table table td{padding:2px 15px}.table table a{font-size:10px}.table__load-button-container{text-align:center;padding:15px}.table .color-negative{color:red}.table .color-positive{color:dodgerblue}

