.table {
  table {
    th {
      background: #f5f5f5;
    }
    th, td {
      padding: 2px 15px;
    }

    a {
      font-size: 10px;
    }
  }

  &__load-button-container {
    text-align: center;
    padding: 15px;
  }

  .color-negative {
    color: red;
  }

  .color-positive {
    color: limegreen;
  }

  .color-zero {
    color: dodgerblue;
  }
}